.container
{
    width:80%;
}
.create-card
{
    width:30%;
    height:100%;
    float:left;
    height:auto;
    display: block;
    padding:20px;
    background-color: #AAAAAA;
    border-radius:4px;
    margin-top:20px;
}
.create-card .party-name
{
    background:#ecf0f1;
    padding: 8px;
    width:100%;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}
.create-card h2{
    text-align: center;
    background-color:#313131;
    color:white;
    height: 40px;
    border-radius:4px;
    font-weight: normal;
    padding-top:10px;
    font-size:1em;
}
.party-table
{
    width:70%;
    height:100%;
    float: right;

}
.create{
    background:#2ecc71;
    width:80%; 
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    border: #27ae60 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10%;
    font-weight:bold;
    font-size:16px;
    text-align: center;
}
.create a{text-decoration:none;color:white;}
.parties-table{
    margin-top:40px;
    width:90%;
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    background-color: #AAAAAA;
    border-radius:4px;
    margin-top:20px;
}
.parties-table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align:center;
  background-color:#313131;
  color: white;
}
.links-table
{
    margin-top:40px;
    width:90%;
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    background-color: #AAAAAA;
    border-radius:4px;
    margin-top:20px;
}
.links-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background:#3498db;
  }
  .links-table a{
    color: white;
    text-decoration:none;
  }
  .links-table .delete
  {
    background:#da3c3c;
    border-radius:4px;
  }
  .links-table .edit
  {
    background:#3498db;
    border-radius:4px;
  }
  .links-table .create-th
  {
    background:#2ecc71;
    border-radius:4px;
    border: #27ae60 1px solid;
  }