.container-card
{
    /*width: 1200px; its prudent to set the width in percent due to responsiveness*/
    width:90%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-left: 20px;
}

.signup-card{
    width: 50%;
    float:right;
}
 #btn3{background:#3498db;
    width:80%;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10%;
    font-weight:normal;
    font-size:16px;
    text-align: center;}
.login-card {float:left;margin-left:100px;}
.login-card a{ text-decoration: none;}
.signup-left{
    width:50%;
    float: left;
}
.signup-left img{
    margin-top: 40px;
    float:center;
}
.signup-left p{
    text-align:left;
    margin-left:60px;
}
.signup-left .top-para{
    margin-top: 100px;
}
